<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Portafolio Profesional</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        {% load static %}
        <link href="{% static 'plugins/fontawesome/css/all.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'plugins/fontawesome/css/solid.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'css/curriculum.css' %}?v=1.0" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div class="container py-5">
            <div class="card">
                <div class="card-header text-center">
                    Curriculum
                </div>
                <div class="card-body">
                    <div class=" text-center">
                        {#  Foto de perfil  #}
                        <img src="{% static 'img/user.png' %}" class="rounded mx-auto d-block usuario-img m-2" alt="{{ usuario.first_name }} {{ usuario.last_name }}">
                        {#  Nombres de usuario  #}
                        <h4>{{ usuario.first_name }} {{ usuario.last_name }}</h4>
                        {#  Descripción  #}
                        <div class="descripcion mb-3">
                            <p class="text-muted">
                                {{ usuario.descripcion }}
                            </p>
                        </div>
                        {#  Redes sociales  #}
                        <div class="social mb-3">
                            {% if usuario.url_git %}
                                <a href="{{ usuario.url_git }}" target="_blank" rel="noreferrer noopener" class="mx-1">
                                    <em class="fab fa-github fa-2x"></em>
                                </a>
                            {% endif %}
                            {% if usuario.url_linkedin %}
                                <a href="{{ usuario.url_linkedin }}" target="_blank" rel="noreferrer noopener" class="mx-1">
                                    <em class="fab fa-linkedin fa-2x"></em>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                    <hr>
                    {#  Proyectos  #}
                    <div class="container">
                        <div class="row">
                            {% for proyecto in proyectos %}
                                <div class="col-6">
                                    <div class="card mb-3" style="max-width: 540px;">
                                        <div class="row g-0">
                                            <div class="col-md-4">
                                                {% if proyecto.foto %}
                                                    <img src="{{ proyecto.foto }}" class="img-fluid rounded-start" alt="{{ usuario.first_name }} {{ usuario.last_name }}">
                                                {% else %}
                                                    <img src="{% static 'img/project.png' %}" class="img-fluid rounded-start" alt="{{ usuario.first_name }} {{ usuario.last_name }}">
                                                {% endif %}
                                            </div>
                                            <div class="col-md-8">
                                                <div class="card-body">
                                                    <div class="detalle">
                                                        <h5 class="card-title"> {{ proyecto.nombre }}</h5>
                                                        <p class="card-text">
                                                            <small class="text-muted"><em class="fa fa-calendar-week fa-1x"></em> {{ proyecto.fecha }}</small>
                                                        </p>
                                                        <p class="card-text">
                                                            {{ proyecto.descripcion }}
                                                        </p>
                                                        <div class="social">
                                                            {% if proyecto.url_git %}
                                                                <a href="{{ usuario.url_git }}" target="_blank" rel="noreferrer noopener" class="mx-1">
                                                                    <em class="fab fa-github fa-1x"></em>
                                                                </a>
                                                            {% endif %}
                                                            {% if proyecto.url_proyecto %}
                                                                <a href="{{ usuario.url_linkedin }}" target="_blank" rel="noreferrer noopener" class="mx-1">
                                                                    <em class="fa fa-location-pin fa-1x"></em>
                                                                </a>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="card-footer text-muted">
                    2 days ago
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    </body>
</html>